* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    /* height: 100vh; */
}

nav ul li {
    text-decoration: none;
    list-style: none;
}

button {
    padding: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: rgb(3, 22, 45);
    color: white;
    border: 2px solid white;
    width: 100%;
}
#next-btn{
background-color: rgb(229, 213, 244);
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(3, 22, 45);
    width: 500px;
}

.text-center {
    padding: 23px;
}

.text {
    padding: 19px 22px;
    margin-left: 22px;
    margin-bottom: 20px;
}

.add {
    margin-top: 44px;
    margin-left: 44px;
    height: 23px;
    font-size: 33px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 33px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}